doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    block title

    link(rel='icon', type='image/x-icon', href= baseUrl + '/img/favicon.ico')

    link(rel='stylesheet', href= baseUrl + '/css/bootstrap.min.css')
    link(rel='stylesheet', href= baseUrl + '/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href= baseUrl + '/css/font-awesome.min.css')

    link(rel='stylesheet', href= baseUrl + '/css/theme.css')

    if prod
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{appSettings.ga_key}', 'auto');
        ga('send', 'pageview');

  body
    nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          .navbar-brand My LoL Fantasy #[span.brand-version= version]
        ul.nav.navbar-nav
          li#nav-home: a(href= baseUrl + '/Home') Home
          if isLoggedIn
            li#nav-create-league: a(href= baseUrl + '/CreateLeague') Create a League
            li#nav-leagues: a(href= baseUrl + '/Leagues') View Leagues
        ul.nav.navbar-nav.navbar-right
          if isLoggedIn
            li: a#identification Logged in as #[em= user.username]
            li: button#logout.btn.btn-primary Log Out
          else
            li: button#login.btn.btn-primary(data-toggle='modal', data-target='#login-popup') Log In
            li: button#signup.btn.btn-primary(data-toggle='modal', data-target='#signup-popup') Sign Up

    block content

    div#login-popup.modal.fade(tabindex='-1', role='dialog', aria-hideen='true')
      div.modal-dialog.modal-sm
        div.modal-content
          button.close(type='button', data-dismiss='modal'): span.fa.fa-close.modal-close
          form#login-form(method='post', role='form', action='')
            h2 Log In
            div#login-username-div(class= (messages.loginMismatch || messages.loginRequired) && 'has-error')
              input#login-username.form-control(type='text', name='username', placeholder='Username', value= messages.loginUsername ? messages.loginUsername : false)
            br
            div#login-password-div(class= (messages.loginMismatch || messages.loginRequired) && 'has-error')
              input#login-password.form-control(type='password', name='password', placeholder='Password')
            br
            button#login-submit.btn.btn-primary(type='submit') Submit
          .login-error
            if messages.loginError
              p= messages.loginError

    div#signup-popup.modal.fade(tabindex='-1', role='dialog', aria-hideen='true')
      div.modal-dialog.modal-sm
        div.modal-content
          button.close(type='button', data-dismiss='modal'): span.fa.fa-close.modal-close
          form#signup-form(method='post', role='form', action='')
            h2 Sign Up
            div#signup-username-div(class= messages.signupNameTaken && 'has-error')
              input#signup-username.form-control(type='text', name='username', placeholder='Username', value= messages.signupUsername ? messages.signupUsername : false)
            br
            div#signup-password-div
              input#signup-password.form-control(type='password', name='password', placeholder='Password')
            div#signup-confirm-password-div
              input#signup-confirm-password.form-control(type='password', name='confirmPassword', placeholder='Confirm Password')
            br
            div#signup-email-div
              input#signup-email.form-control(type='text', name='email', placeholder='Email (Optional)', value= messages.signupEmail ? messages.signupEmail : false)
            br
            div#signup-summoner-div(class= messages.signupSummonerNotExists && 'has-error')
              input#signup-summoner.form-control(type='text', name='summonerName', placeholder='Summoner Name', value= messages.signupSummonerName ? messages.signupSummonerName : false)
            .checkbox
              input#signup-agree(type='checkbox', checked=true, name='agree')
              label By signing up you are accepting our #[a(href= baseUrl + '/EULA', target='_blank') End User License Agreement]
            button#signup-submit.btn.btn-primary(type='submit') Submit
          .signup-error
            if messages.signupError
              p= messages.signupError

    script.
      gBaseUrl = '#{baseUrl}';
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src= baseUrl + '/js/bootstrap.min.js')
    script(src= baseUrl + '/js/base.js')

    block scripts
