extends ./base.jade

block title
  title League  - My LoL Fantasy
block content
  div(class='container theme-showcase' role='main')
    if league
      .text-center
        h2= 'League ' + league.name
      .text-left
         h3= 'Total Games Played: ' + gamesPlayed
      .text-right
        button#individualGameStats(class='btn btn-primary') Show Individual Games
        button#allGameStats(class='btn btn-primary hide') Show All Games
      table(class='table table-league')
        thead: tr
          th.column-player: h4= 'Player'
          th.column-kills: h4= 'Kills'
          th.column-asssists: h4= 'Assists'
          th.column-deaths: h4= 'Deaths'
          th.column-minions: h4= 'Minions Killed'
          th.column-turrets: h4= 'Turrets Killed'
          th.column-double: h4= 'Double Kills'
          th.column-triple: h4= 'Triple Kills'
          th.column-quadra: h4= 'Quadra Kills'
          th.column-penta: h4= 'Penta Kills'
          th.column-points: h4= 'Total Points'
        tbody
        each user, key in league.data
          tr
            td= key
            td= user.stats.championKills
            td= user.stats.assists
            td= user.stats.deaths
            td= user.stats.minionKills
            td= user.stats.turretKills
            td= user.stats.doubleKills
            td= user.stats.tripleKills
            td= user.stats.quadraKills
            td= user.stats.pentaKills
            td= user.stats.totalPoints
      table(class='table table-league-individual hide')
        thead: tr
          th.column-player: h4= 'Player'
          th.column-kills: h4= 'Kills'
          th.column-asssists: h4= 'Assists'
          th.column-deaths: h4= 'Deaths'
          th.column-minions: h4= 'Minions Killed'
          th.column-turrets: h4= 'Turrets Killed'
          th.column-double: h4= 'Double Kills'
          th.column-triple: h4= 'Triple Kills'
          th.column-quadra: h4= 'Quadra Kills'
          th.column-penta: h4= 'Penta Kills'
          th.column-points: h4= 'Total Points'
        tbody
        each user, key in league.data
          tr
            td= key
            td= Math.round(user.stats.championKills / gamesPlayed)
            td= Math.round(user.stats.assists / gamesPlayed)
            td= Math.round(user.stats.deaths / gamesPlayed)
            td= Math.round(user.stats.minionKills / gamesPlayed)
            td= Math.round(user.stats.turretKills / gamesPlayed)
            td= Math.round(user.stats.doubleKills / gamesPlayed)
            td= Math.round(user.stats.tripleKills / gamesPlayed)
            td= Math.round(user.stats.quadraKills / gamesPlayed)
            td= Math.round(user.stats.pentaKills / gamesPlayed)
            td= Math.round(user.stats.totalPoints / gamesPlayed)
    else 
      .text-center
        h3 A league with that id could not be found

block scripts
  script(src= baseUrl + '/js/League.js')
